
body, html {
  margin: 0 0; padding: 0 0;
  font-family: 'Source Sans Pro', sans-serif;
}
body { background: #333; }
h1 { margin: 0; }
@media only screen and (max-device-width: 480px) { body { background: #fff; } }
.container {
  width: 100%;
  float: left;
  padding: 80px 0;
}
.content {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}
.section {
  width: 100%;
  float: left;
}

/***************************************************/

.container-arrow {
  position: fixed;
  width: 100%;
}
.container-arrow div { margin: auto; width: 44px; }
.container-arrow-bottom { bottom: 0px; }
.container-arrow i {
  transition-duration: 150ms;
  color: #000;
  cursor: pointer;
  padding: 10px;
  font-size: x-large
}
.container-arrow i:hover {
  transform: scale(1.15);
}

/***************************************************/

.parallax-mirror {
  animation: 10s blur forwards;
  animation-delay: 1.5s;
}
@keyframes blur {
  from { filter: blur(0px); }
  to { filter: blur(8px); }
}

/***************************************************/

#homepage {
  color: white;
  font-size: 30px;
  text-align: center;
}
#homepage .child { margin: 0 auto 30px auto; }
#homepage .child.img { max-width: 300px; }
#homepage .child.txt { max-width: 515px; }
#homepage .child.menu i.center { margin: 0 20px; }
#homepage .child.menu i {
  transition-duration: 300ms;
  background: #fff; color: #666;
  height: 24px; width: 24px;
  padding: 13px;
  font-size: x-large;
  border-radius: 50%;
}
#homepage .child.menu i:hover {
  border-radius: 50% 50% 2px 50%;
  transform: rotateZ(45deg);
}
@media only screen and (max-device-width: 480px) {
  #homepage .child.img { max-width: 280px; }
}

/***************************************************/

#info {
  background: linear-gradient(140deg, #fff, #ccc);
  background-attachment: fixed;
}
#info .shop-contact p { margin: 0 0; }
#info .shop-contact {
  width: 50%;
  float: left;
}
@media only screen and (max-device-width: 480px) {
  #info .shop-contact {
    width: 100%;
  }
}

/***************************************************/

#map iframe {
  border: none;
  height: 100%;
  width: 100%;
}

/***************************************************/

#footer {
  padding: 70px 0px;
  color: #eee;
  background: linear-gradient(140deg, #111, #222);
}
#footer .shop-contact p { margin: 0 0; }
#footer .container {
  padding-bottom: 30px;
}
#footer .shop-contact {
  width: 50%;
  float: left;
}
@media only screen and (max-device-width: 480px) {
  #footer .shop-contact:first-child { margin-bottom: 40px; }
  #footer .shop-contact {
    width: 100%;
  }
}
